@import url('https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500,700|Sarabun:300,400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,400i,500,700|Sarabun:300,400,400i,600,700&display=swap');



body {
    font-family: "Sarabun", sans-serif;
    letter-spacing: .22px;
    transition-delay: 2s;
}


.table {
    table-layout: auto;
    
}
.dataTables_length {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.2em;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.top_right {
    position: absolute;
    top: 2%;
    left: 90%;
}

.top_right a {

    color: #264E36;
    font-weight: 500;
}


.top_right a:hover {
    color: rgb(255, 56, 96);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

#showme {
    position: absolute;
    width: 0px;
    height: 0px;    
    margin: -1px;
    overflow: hidden;
   
    
}


.container-fluid {
    max-width: 100%;
    margin-top: 1em;  
    z-index: 5;

}



thead th {
    vertical-align: middle;
    font-size: 1em;
    font-weight: 500;
    background-color: #003366;
    color: white;
    text-align: center;
    z-index: 10;

    
    }
    




th,
td {
    vertical-align: middle;

    text-rendering: optimizeLegibility;
  /* Ensure long words do not overflow into content. */
/*  overflow-wrap: anywhere;*/
  
  word-break: keep-all;
  

  /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
    padding: .8em;
}


tr {
    font-size: 1em;
    vertical-align: middle;
}

tr:hover {
    background-color: #e0e0e0;
}

h2 {
    font-family: "Kanit", sans-serif;
    letter-spacing: .22px;
    font-size: 2.5em;
    font-weight: 500;
    color: #3F69AA;
    text-align: center;
    margin-top: 1em;

}

.txt-update {
    font-size: 1em;
    font-weight: 600;    
}
.txt-update span {
    background-color: #da532c;
    border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  padding: 2px 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color:#f5f5f5;
}
.txt-center {
    text-align: center;
}

.top_right a {

    color: #264E36;
    font-weight: 500;
}


.top_right a:hover {
    color: rgb(255, 56, 96);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}



.highlight {
    background-color: #FBC300;
     text-decoration: none;
     color: white;
     padding: 6px;
}

